/* Removes padding and margin and changes sizes of box content */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* styles h1 tag */
h1{
  font-size: 62px;
  margin:0;
  padding:0;
}

/* colors header tags listed */
h1{
  color: #FFFFFF;
}

#about{
  color: #F13300;
}

h3{
  color: #FFFFFF;
}

#projects{
  color: #F13300;
}

#contact{
  color: #F13300;
}

#experiences{
  color: #F13300;
}


/* removes spacing from h3 in jumbotron */
.jumbotron h3{
  color: #63636E;
  margin-bottom: 0;
  padding-bottom:0;
}
/* changes bg color and text color of jumbotron */
/* makes corners of jumbotron sharp */
.jumbotron{
  background-color: #121217;
  color: #FFFFFF;
  border-radius: 0;
}
.card-title{
  color: #FFFFFF;
}

.card-text{
  color: #F13300;
}

card-header{
  color: #F13300;
}

.card-header{
  font-size: 1.1rem;
}
.card-header{
  background: none;
}
.card{
  position: relative;
  border: none;
  margin: .25rem 0;
  background-color: #212121;
  padding: 1rem;
  border-radius:0;
}
#projects{
  margin: 1rem auto;
  padding: 1rem;
}
}
#experience{
  margin: 1rem auto;
  padding: 1rem;
}
.learn-project > a.btn{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
}
#contact > a{
  display: block;
}
